.ks-button {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    width: 174px;
    height: 50px;
    transition: background .3s;

    &--primary {
        background: $color-primary;
        color: $color-white;

        &:hover {
            background: darken($color-primary, 10%);
        }
    }
}