.ks-footer {

    &__bg {
        background: url('../images/bgfooter.png') 65% center no-repeat;
        background-size: cover;
        position: relative;
        padding: 40px 0;

        .ks-container {
            position: relative;
            z-index: 10;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255,.9);
            z-index: 1;
        }

        @include media-screen(tablet) {
            padding: 94px 0 50px;
            background: url('../images/bgfooter.png') center center no-repeat;
            background-size: cover;

            &::after {
                display: none;
            }
        }
    }

    &__content {
        width: 100%;
    
        @include media-screen(tablet) {
            width: 520px;
        }
    }
    
    h3 {
        font-size: $size-big;
        line-height: $line-height-normal;
        font-weight: $weight-light;
        margin-bottom: 18px;

        @include media-screen(tablet-wide) {
            font-size: $size-large;
            line-height: $line-height-big;
            font-weight: $weight-light;
            padding-right: 0;
        }
    }

    h2 {
        
        @include media-screen(tablet-wide) {
            line-height: $line-height-large;
            font-size: $size-large-3;
            margin-bottom: 62px;
        }
    }
}