.ks-swiper {
    position: relative;

    &--shadow {
        @include filter-shadow($drop-shadow-size-1, $color-shadow-light);
    }

    &__case-studies {
    
        &.swiper-container {
            width: 100%;
            height: 100%;
            background: $color-gray-light-3;
            border-radius: $img-border-radius;
        }

        .swiper-wrapper {
            align-items: center;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-button-next,
        .swiper-button-prev {
            color: $color-dark;
            transition: color .4s;

            &::after {
                font-size: 20px;
                font-weight: $weight-extra-bold;
            }

            &:hover {
                color: $color-primary;
            }
        }

        .swiper-button-next {
            display: none;

            @include media-screen(tablet) {
                right: 30px;
                display: block;
            }   
        }
        
        .swiper-button-prev {
            display: none;

            @include media-screen(tablet) {
                left: 30px;
                display: block;
            }   
        }
    } 

    .swiper-pagination {
        width: 100%;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);

        &-bullet {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

.no-js {

    .swiper-wrapper {
        flex-direction: column;
    }

    .swiper-slide {
        margin-bottom: 30px;
    }
}