.ks-swiper__case-studies {
    
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-gray-light-3;
    }

    .swiper-pagination {
        position: relative;
        margin-top: 40px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: $color-dark;
        transition: color .4s;

        &::after {
            font-size: 30px;
            font-weight: $weight-extra-bold;
        }

        &:hover {
            color: $color-primary;
        }
    }
}