.ks-util-color-primary {
    color: $color-primary;
}

.ks-util-weight-500 {
    font-weight: $weight-medium;
}

.ks-util-weight-300 {
    font-weight: $weight-light;
}

.ks-sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}