## Server

# Old CGI catalog
cgi-bin

# Added with Softaculous Apps Installer
public/wp-content/plugins/akismet

## Custom

# Node modules
node_modules/

# Log files and databases
*.log
*.sql
*.sqlite

# Composer dependencies
vendor

## Public
public/*
!public/.ftp-deploy-sync-state.json

## Enviroment
.env

## Configuration
config/wp-config.production.php

## Build assets
theme/assets/public

## VSC History
.history