## Wordpress - ignore core, configuration, examples, generated data and logs.
## https://github.com/github/gitignore/blob/master/WordPress.gitignore

# Core
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-config-sample.php
wp-comments-post.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-cron.php
wp-admin
wp-includes

# Configuration
wp-config.php

# Generated data
wp-content/languages
wp-content/upgrade
wp-content/plugins/index.php
wp-content/themes/index.php
wp-content/uploads
wp-content/index.php

# Example plugins
wp-content/plugins/hello.php

# Example themes
wp-content/themes/twentyfifteen
wp-content/themes/twentyseventeen
wp-content/themes/twentysixteen
