$color-white: #fff;
$color-black: #000;
$color-dark: #252525;
$color-gray: #e0e0e0;
$color-gray-2: #eeeeee;
$color-gray-3: #c9c9c9;
$color-gray-4: #a7a3a3;
$color-gray-light: #ebebeb;
$color-gray-light-2: #f7f7f7;
$color-gray-light-3: #f4f4f4;
$color-gray-light-4: #f6f6f6;
$color-gray-light-5: #dfdfdf;
$color-shadow: #e0e0e0d9;
$color-shadow-light: #f3f3f3d9;
$color-primary: #00b3a7;