name: Deploy on production

on:
  push:
    branches:
      - main
  repository_dispatch:
    types: [externall-deploy]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v1
        with:
          fetch-depth: 2
      
      - name: Cache PHP dependencies
        uses: actions/cache@v1
        with:
          path: vendor
          key: ${{ runner.OS }}-build-${{ hashFiles('**/composer.lock') }}

      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install dependency in theme
        run: npm install --prefix theme

      - name: Composer run
        uses: MilesChou/composer-action@master
        with:
          args: install
        env:
          ACF_PRO_KEY: ${{ secrets.ACF_PRO_KEY }}
          COMPOSER_MIRROR_PATH_REPOS: 1

      - name: Generate website
        run: npm run build --if-present

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@3.0.0
        with:
          ftp-server: ${{ secrets.FTP_HOST }}
          ftp-username: ${{ secrets.FTP_USER }}
          ftp-password: ${{ secrets.FTP_PASSWORD }}
          local-dir: public